### Charck pandas version

In [7]:
import pandas as pd  
print("Pandas version:",pd.__version__)

Pandas version: 2.2.1

## Dataframe

In [8]:
df = pd.DataFrame(
    {
        "Name":[
            "OuOSama",
            "Hu tao",
            "Furina"
        ],
        "Age":[17,16,500],
        "Gender":['Male','Female','Female']
    }
)

df

      Name  Age  Gender
0  OuOSama   17    Male
1   Hu tao   16  Female
2   Furina  500  Female

### Dataframe: Select Columns

In [9]:
df["Age"]

0     17
1     16
2    500
Name: Age, dtype: int64

### Dataframe: Serise

In [10]:
email_info = pd.Series(["ouosamacute@gmail.com","hutao@gmail.com","furina@gmail.com"],name="email")

email_info

0    ouosamacute@gmail.com
1          hutao@gmail.com
2         furina@gmail.com
Name: email, dtype: object

### Dataframemin: find min,max or do something

In [11]:
print("Min :",df['Age'].min())
print("Max :",df['Age'].max())

Min : 16
Max : 500

### Dataframe: statistics

In [12]:
df.describe()

              Age
count    3.000000
mean   177.666667
std    279.149303
min     16.000000
25%     16.500000
50%     17.000000
75%    258.500000
max    500.000000

## REMEMBER
Import the package, aka import pandas as pd

A table of data is stored as a pandas DataFrame

Each column in a DataFrame is a Series

You can do things by applying a method to a DataFrame or Series